::root{
  --cor-escura:#808080;
  --cinza:#9c9c9c;
  --cinzinha:#b7b7b7;
  --cinza-claro:#d3d3d3;
  --branco:#ffffff;
}


body{
  background: var(--cinza-claro);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header{
    background-color:var(--cinza);
}

h1{
  
}
